nav {
    background-color: #AD2831;
    height: 3rem;
    color: #fff3b0;
}

header {
    background-color: #640D14;
    color: #fff3b0;
    padding-left: 3rem;
}

footer {
    background-color: #640D14;
    color: #fff3b0;
    padding-left: 3rem;
}