@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');
h1 {
    font-family: "PLayfair Display", sans-serif;
    text-align: center;
}
h2 {
    font-family: "Playfair Display", sans-serif;
    color: #023e8a;
}

p {
    font-family: "Roboto Condensed", sans-serif;
}
#cards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
    border: 2px solid gray;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
section {
    border: 5px solid #023e8a;
    background-color: #0096c7;
    height: 100%;
    text-align: center;
}

section img {
    margin: 0 20px;
    width: 80%;
    height: auto;
}