@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto:wght@300&display=swap');

body {
    margin: 0 0;
}

h3 {
    font-family: 'Crimson Text', sans-serif;
}
    
p {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

h1, h2, h3 {
    font-family: "Crimson Text", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
/*Nav*/

nav {
    display: flex;
    background-color: #9A8C98;
    flex-direction: column;
    align-items: center;
}


/*Header*/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.hero-img {
    grid-column: 1 / 4;
    grid-row: 1/ 5;
    z-index: -1;
}

.hero-img img {
    width: 100%;
    filter: brightness(70%);
}

.hero-btn {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0 auto;
}

.hero-btn h1 {
    color: darkblue;
}

.hero-btn button {
    width: 100%;
    text-align: center;
    font-family: "Crimson Text", sans-serif;
    font-size: 50%;
    opacity: calc(90%);
}
/*Main*/

.card {
    margin: 5px 5px;
    background-color: whitesmoke;
    border: 5px solid;
    border-color: #9A8C98;
    padding: 1px 10px;
    width: auto;
}

.card h2 {
    padding-left: 10px;
    margin-bottom: 0px;
}

.card p {
    padding: 0px 20px;
}

main h1 {
    margin-left: 2rem;
}
.message {
    font-size: larger;
    text-align: center;
    border: 2px solid #9A8C98;
    background-color: #22223B;
    color: white;
    padding: 30px 30px;
    margin: 5px;
}
/*Footer*/
footer {
    display: block;
    text-align: center;
    color: whitesmoke;
    background-color: #9A8C98;
}

footer p {
    margin: 5px auto;
    color: yellow;
}

footer h3 {
    margin: 5px auto;
    color: yellow;
}

.one {
    margin: 5px 5px;
    background-color: whitesmoke;
    border: 5px solid;
    border-color: #9A8C98;
    padding: 1px 10px;
    width: auto;
    margin: 0 auto;
}

.two {
    margin: 5px 5px;
    background-color: whitesmoke;
    border: 5px solid;
    border-color: #9A8C98;
    padding: 1px 10px;
    width: auto;
}

.grid-img {
    width: 80%;
    padding: 10px 50px;
    height: auto;
}

.grid-img:hover {
    opacity:.5;
}

/*Directory*/

article,
section {
	margin: 0.5rem;
}
    
section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #ccc;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
    height: 450px;
}

.grid section > * {
	margin: 0.1rem;
}

.grid img {
    width: 80%;
    padding: 20px 10px;
}

.grid p {
    padding: 0.5rem;
}

.grid a, .list a {
    color: #22223B;
    font-size: 18px;
    font-weight: 900;
}
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
}


.form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

h1 {
    grid-column: 2 / 3;
}

form {
    grid-column: 2 / 3;
}

fieldset {
    width: auto;
}

form label {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
}

form input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 80%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

textarea
{
  border:1px solid #999999;
  width:95%;
  margin:5px 0;
  padding:3px;
}

.submitBtn {
    margin: 10px 10px;
}

select {
    width: 200px;
    height: 30px;
}

main h3 {
    margin-left: 40px;
}