@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto:wght@300&display=swap');

body {
    margin: 0 0;
}

p {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

h1, h2, h3 {
    font-family: "Crimson Text", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
/*Nav*/

nav {
    background-color: #9A8C98;
}

/*Header*/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.hero-img {
    grid-column: 1 / 4;
    grid-row: 1/ 5;
    z-index: -1;
}

.hero-img img {
    width: 100%;
    filter: brightness(70%);
}

.hero-btn {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0 auto,
}

.hero-btn h1 {
    color: darkblue;
}

.hero-btn button {
    width: 100%;
    text-align: center;
    font-family: "Crimson Text", sans-serif;
    font-size: 50%;
    opacity: calc(90%);
}
/*Main*/

.card {
    margin: 5px 5px;
    background-color: whitesmoke;
    border: 5px solid;
    border-color: #9A8C98;
    padding: 1px 10px;
    width: auto;
}

.card h2 {
    padding-left: 10px;
    margin-bottom: 0px;
}

.card p {
    padding: 0px 20px;
}

main h1 {
    margin-left: 2rem;
}
.message {
    font-size: larger;
    text-align: center;
    border: 2px solid #9A8C98;
    background-color: #22223B;
    color: white;
    padding: 30px 30px;
    margin: 5px;
}
/*Footer*/
footer {
    display: block;
    text-align: center;
    color: whitesmoke;
    background-color: #9A8C98;
}

footer p {
    margin: 5px auto;
    color: yellow;
}

footer h3 {
    margin: 5px auto;
    color: yellow;
}



