@media screen and (min-width: 700px) {

/*Nav*/
nav {
    flex-direction: row;
}
/*Header*/

.hero-btn button {
    font-size: 80%;
}
/*Main*/

.cards, .spotlight {
    display: flex;
}

.card {
    width: 100%;
}
.message {
    font-size: 1.5rem;
}

/*Footer*/

footer .name {
    display: flex;
    flex-direction: row;
}
}